:root{
    //======== Color base ========
    --bs-overlay:rgb(0,0,0,0.5);
    --bs-black:#010101;
    --bs-grey:#949cb0;
    --bs-light-grey:#F3F4F8;
    --bs-red:#E50914;
    --bs-yellow:#ffac42;
    --bs-white:#fff;
    --bs-purple:#845ADF;
    --bs-dark-900:#0e0d12;
    --bs-dark-800:#131722;
    --bs-dark-700:#0f172a;
    --bs-color-primary:#164B60;
    --bs-color-blue:rgb(26, 155, 252);
    --bs-color-green:rgb(0, 206, 195);
    --bs-color-orange:rgb(251, 150, 120);
    --bs-color-purple:rgb(115, 82, 255);
    --bs-color-aqua:#0074ba;

    //======== Dark & Light setting defaul ========
    --bs-body-light-mode:var(--bs-light-grey);
    --bs-bg-light-mode:var(--bs-white);
    --bs-color-light-mode:var(--bs-black);
    --bs-color-default:var(--bs-black);

    //======== Chart color setting defaul ========
    --bs-chart-color:var(--bs-color-primary);

    //======== Theme color setting defaul ===========
    --bs-color-setting:var(--bs-color-primary);
    --bs-text-custom-color-setting:var(--bs-white);
    --bs-text-color-setting:var(--bs-color-primary);
    --bs-button-color-setting:var(--bs-color-primary);


    //===== font family setting ========
    --bs-font-brand:Brand;
    --bs-font-primary:'Pridi', serif;
    --bs-font-secondary:'Poppins', sans-serif;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

