html{
   
    &[data-theme-sidebarmode='showSidebar']{
        .hideSidebar{
            display: none;
            transition: 0.5s;
        }
        .aside{
            max-width: 0;
            transition: 1s;
            .aside__Item{
                display: none;
                transition: 0.2s;
            }
        }
        .section--content {
            width: 100vw;
            margin-left: 0;
            transition: 1s;
        }
        #header{
            &.scroll {
                width: 100%;
            }
        }
    }
    &[data-theme-sidebarmode='hideSidebar']{
        .showSidebar{
            display: none;
            transition: 0.5s;
        }
        .aside{
            max-width: 17vw;
            @media (max-width:676px) {
                max-width: 60vw;
            }
            transition: 1s;
            .aside__Item{
                transition: 0.2s;
            }
        }
        .section--content {
            transition: 1s;
        }
    }
}