html{   
    //Bg sidebar
    &[data-theme-sidebar-bg='beach1']{
       
        .aside{
           &::after{
            background-image: url('../../assets/bg/beach1.jpg');          
           }
           &::before{
                z-index: 0;
                opacity: 0.5;
            }
        }
    }
    &[data-theme-sidebar-bg='beach2']{
        .aside{
           &::after{
            background-image: url('../../assets/bg/beach2.jpg');
           }
           &::before{
                z-index: 0;
                opacity: 0.5;
            }
        }
    }
    &[data-theme-sidebar-bg='building']{
        .aside{
           &::after{
            background-image: url('../../assets/bg/building.jpg');
           }
           &::before{
                z-index: 0;
                opacity: 0.5;
            }
        }
    }
    &[data-theme-sidebar-bg='office']{
        .aside{
           &::after{
            background-image: url('../../assets/bg/office.jpg');
           }
           &::before{
                z-index: 0;
                opacity: 0.5;
            }
        }
    }
    &[data-theme-sidebar-bg='sky']{
        .aside{
           &::after{
            background-image: url('../../assets/bg/sky.jpg');
           }
           &::before{
            z-index: 0;
            opacity: 0.5;
        }
        }
    }
}