html{
     //Theme color sidebar
     &[data-theme-sidebar='transparent']{
        .aside{
            // background-color: var(--bs-dark-900) ;
            color: var(--bs-black);
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: var(--bs-white);
                color: var(--bs-black);
            }
            .aside__Item--bottom {
                .account {
                    .logout{
                        path{
                            fill: #164B60;
                        }
                    }
                }
            }
            .navbar__List {
                li svg {
                    fill: #164B60;
                }
                .navbar__List {
                    li {
                        a{
                            &.active{
                                svg{
                                    fill:#164B60 ;
                                }
                            }
                        }
                    }
                }
            }
            .aside__setting{
                li {
                    svg {
                        fill: #164B60;
                        path{
                            fill: #164B60;
                        }
                    }
                    a{
                        &.active{
                            svg{
                                path{
                                    fill: #164B60;
                                }
                            }
                        }
                    }
                }
            }
            .btn__setting{
                svg{
                    circle{
                        stroke: var(--bs-white);
                    }
                    
                    path{
                        stroke: var(--bs-white);
                    }
                   
                }
            }
        }
        .setting__panel--show {
            .theme--colorSidebar {
                ul {
                    li {
                        button{
                            position: relative;
                            &.transparent {
                                &:after{
                                    content: '';
                                    background-image: url('../../assets/png/check.png');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 15px;
                                    width: 15px;
                                    z-index: 2;
                                }
                                &:before{
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgb(190 190 190 / 23%);
                                    position: absolute;
                                    border-radius: 100px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[data-theme-sidebar='black']{
        .aside{
            // background-color: var(--bs-dark-900) ;
            color: var(--bs-white);
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: var(--bs-dark-900) ;
                color: var(--bs-white);
            }
            .aside__Item--bottom {
                .account {
                    .logout{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
            .navbar__List {
                li svg {
                    fill: #fff;
                }
                .navbar__List {
                    li {
                        a{
                            &.active{
                                svg{
                                    fill:#164B60 ;
                                }
                            }
                        }
                    }
                }
            }
            .aside__setting{
                li {
                    svg {
                        fill: #fff;
                        path{
                            fill: #fff;
                        }
                    }
                    a{
                        &.active{
                            svg{
                                path{
                                    fill: #164B60;
                                }
                            }
                        }
                    }
                }
            }
            .btn__setting{
                svg{
                    circle{
                        stroke: var(--bs-white);
                    }
                    
                    path{
                        stroke: var(--bs-white);
                    }
                   
                }
            }
        }
        .setting__panel--show {
            .theme--colorSidebar {
                ul {
                    li {
                        button{
                            position: relative;
                            &.black {
                                &:after{
                                    content: '';
                                    background-image: url('../../assets/png/check.png');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 15px;
                                    width: 15px;
                                    z-index: 2;
                                }
                                &:before{
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgb(190 190 190 / 23%);
                                    position: absolute;
                                    border-radius: 100px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[data-theme-sidebar="purple"]{
        .aside{
            color: var(--bs-white);
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: #916BE2 ;
                color: var(--bs-white);
            }
            .aside__Item--bottom {
                .account {
                    .logout{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
            .navbar__List {
                li svg {
                    fill: #fff;
                }
                .navbar__List {
                    li {
                        a{
                            &.active{
                                svg{
                                    fill:#164B60 ;
                                }
                            }
                        }
                    }
                }
            }
            .aside__setting{
                li {
                    svg {
                        fill: #fff;
                        path{
                            fill: #fff;
                        }
                    }
                    a{
                        &.active{
                            svg{
                                path{
                                    fill: #164B60;
                                }
                            }
                        }
                    }
                }
            }
            .btn__setting{
                svg{
                    circle{
                        stroke: var(--bs-white);
                    }
                    
                    path{
                        stroke: var(--bs-white);
                    }
                   
                }
            }
        }
        .setting__panel--show {
            .theme--colorSidebar {
                ul {
                    li {
                        button{
                            position: relative;
                            &.purple {
                                &:after{
                                    content: '';
                                    background-image: url('../../assets/png/check.png');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 15px;
                                    width: 15px;
                                    z-index: 2;
                                }
                                &:before{
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgb(190 190 190 / 23%);
                                    position: absolute;
                                    border-radius: 100px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[data-theme-sidebar="gradient"]{
        .aside{
            color: var(--bs-white);
            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background: linear-gradient(to right, rgb(132,90,223) 0%, #00B9DA 100%) ;
                color: var(--bs-white);
            }
            .aside__Item--bottom {
                .account {
                    .logout{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
            .navbar__List {
                li svg {
                    fill: #fff;
                }
                .navbar__List {
                    li {
                        a{
                            &.active{
                                svg{
                                    fill:#164B60 ;
                                }
                            }
                        }
                    }
                }
            }
            .aside__setting{
                li {
                    svg {
                        fill: #fff;
                        path{
                            fill: #fff;
                        }
                    }
                    a{
                        &.active{
                            svg{
                                path{
                                    fill: #164B60;
                                }
                            }
                        }
                    }
                }
            }
            .btn__setting{
                svg{
                    circle{
                        stroke: var(--bs-white);
                    }
                    
                    path{
                        stroke: var(--bs-white);
                    }
                   
                }
            }
        }
        .setting__panel--show {
            .theme--colorSidebar {
                ul {
                    li {
                        button{
                            position: relative;
                            &.gradient {
                                &:after{
                                    content: '';
                                    background-image: url('../../assets/png/check.png');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 15px;
                                    width: 15px;
                                    z-index: 2;
                                }
                                &:before{
                                    content: '';
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgb(190 190 190 / 23%);
                                    position: absolute;
                                    border-radius: 100px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}