html{
    &[data-theme-color='primary']{
        --bs-color-setting:var(--bs-color-primary);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-primary);
        --bs-button-color-setting:var(--bs-color-primary);
        --bs-chart-color:var(--bs-color-primary);
      
        .setting__panel--show {
            .theme--color{
                .theme--primary{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
       
       
    }
    &[data-theme-color='blue']{
        --bs-color-setting:var(--bs-color-blue);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-blue);
        --bs-button-color-setting:var(--bs-color-blue);
        --bs-chart-color:var(--bs-color-blue);
       
        .setting__panel--show {
            .theme--color{
                .theme--blue{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
       
    }
    &[data-theme-color='green']{
        --bs-color-setting:var(--bs-color-green);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-green);
        --bs-button-color-setting:var(--bs-color-green);
        --bs-chart-color:var(--bs-color-green);
      
        .setting__panel--show {
            .theme--color{
                .theme--green{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
    }
    &[data-theme-color='orange']{
        --bs-color-setting:var(--bs-color-orange);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-orange);
        --bs-button-color-setting:var(--bs-color-orange);
        --bs-chart-color:var(--bs-color-orange);
     
        .setting__panel--show {
            .theme--color{
                .theme--orange{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
    }
    &[data-theme-color='purple']{
        --bs-color-setting:var(--bs-color-purple);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-purple);
        --bs-button-color-setting:var(--bs-color-purple);
        --bs-chart-color:var(--bs-color-purple);
     
        .setting__panel--show {
            .theme--color{
                .theme--purple{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
    }
    &[data-theme-color='aqua']{
        --bs-color-setting:var(--bs-color-aqua);
        --bs-text-custom-color-setting:var(--bs-white);
        --bs-text-color-setting:var(--bs-color-aqua);
        --bs-button-color-setting:var(--bs-color-aqua);
        --bs-chart-color:var(--bs-color-aqua);
      
        .setting__panel--show {
            .theme--color{
                .theme--aqua{
                    &:after{
                        background-image: url('../../assets/png/check.png');
                    }
                }
            }
        }
    }
}