html{
    &[data-theme='dark'] {  
        --bs-bg-light-mode: var( --bs-dark-800);
        --bs-body-light-mode:var( --bs-dark-800);
        --bs-color-light-mode:var(--bs-white);
            
        .aside{
            border-right: 1px solid;
            color: var(--bs-white) !important;
            &::before{
                background-color: transparent !important;
                color: var(--bs-white) !important;
            }
        }
    }   

}
  
body[data-theme='light'] {
    background-color: var( --bs-light-grey);
    color: var(--bs-black);
}

