
.scrollable  {
    overflow-y: scroll;
  }
.aside {
    @media screen and (max-width:1024px) {
        display: none;
        z-index: 99999;
        box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
    }
    position: fixed;
    width: 100%;
    max-width: 17vw;
    height: 100vh;
    background-color: var(--bs-bg-light-mode);
    &::after{
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .navbar {
        max-height: 75vh;
        height: 100%;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: transparent; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: transparent; 
        }
    }
    .aside__Item {
        position: relative;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 35px;
        img{
            height: 30px;
            max-width: 30px;
            object-fit: cover;
            object-position: center;
        }
    }
    .aside__Item--bottom{       
        .account{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            a{
                font-weight: 700;
            }
            img{
                height: 40px;
                width: 40px;
            }
            svg{
                height: 30px;
                width: 30px;
            }
            .logout{
                height: 20px;
                width: 20px;
                path{
                    fill: var(--bs-color-light-mode);;
                }
            }
        }       
    }
    .navbar__List{
        li{
            svg{
                width: 15px;
                height: 15px;
                fill:var(--bs-color-light-mode);
            }
            a{
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 5px;
                font-size: 14px;
                padding: 10px;
                &.active{
                    background-color: var(--bs-button-color-setting);
                    color: var(--bs-white);
                    font-weight: 700;
                    border-radius: 5px;
                    svg{
                        fill:var(--bs-bg-light-mode);
                    }
                }
            }
            button{
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 5px;
                font-size: 14px;
                padding: 10px;
                width: 100%;
            }
            .sub--navbar__List{
                margin-left: 15px;
            }
            &.dropdown{
                position: relative;
                cursor: pointer;
                button{
                    display: flex;
                    justify-content: space-between;
                    .btn--icon{
                        display: flex;
                        gap: 5px;
                        align-items: center;
                    }
                    .btn--iconDown{
                        transition: 1s;
                    }
                }
                &.show{
                    .btn--iconDown{
                        transition: 1s;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
