.apexcharts-canvas{
    .apexcharts-line-series .apexcharts-line,
    .apexcharts-area-series .apexcharts-area{
        stroke: var(--bs-chart-color);
    }
    .apexcharts-bar-series .apexcharts-bar-area{
        fill: var(--bs-chart-color);                
    }            
}