
#header{
    &.scroll{
        position: fixed;
        padding: 0 25px;
        z-index: 9999;
        width: calc(100% - 260px);
        margin-top: 15px;
        transition: .2s ease-in;
        .headerLeft,
        .headerRight  {
            svg {
                path{
                    fill: var(--bs-color-primary);
                    stroke:var(--bs-color-primary);
                }                  
            }
        }
        nav{
            background: #fff;
            padding: 0 15px;
            border-radius: 15px;
            min-height: 50px;
            box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
        }
        @media screen and (min-width:1450px) {
            width: calc(100% - 320px);
        }
        @media screen and (max-width:676px) {
            width: 100%;
        }
        @media (min-width:677px) and (max-width:1024px) {
            width: calc(100% - 190px);
        }
    }
    @media screen and (max-width:676px) {
        display: block;
    }
    .headerLeft{
        img{
            width: 30px;
            fill:#164B60 ;
        }
        svg {
            path{
                fill: var( --bs-color-light-mode);
                stroke: var( --bs-color-light-mode);
            }                  
        }
        .headerLeft--humberger{
            display: flex;
            flex-direction: column;
            align-items: center;
            svg{
                width: 30px;
                fill:#164B60 ;
            }
            @media screen and (max-width:1024px) {
                display: none;
            }
        }
        .headerLeft--brand{           
            display: none;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media screen and (max-width:1024px) {
                display: block;
            }
        }
        
           
    }
    .humberger{
        position: relative;
        width: 25px;
        height: 25px;      
        transition: 1s;
        fill: var(--bs-color-light-mode);
        display: none;
        @media screen and (max-width:1024px) {
            display: block;
        }
    }
    .headerRight{
        svg{
            width: 25px;
            height: 25px;
            path{
                fill: var( --bs-color-light-mode);
                stroke: var( --bs-color-light-mode);
            }  
        }
        .headerRight--menu{
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .notif--label{
            width: 15px;
            height: 15px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -5px;
            right: -8px;
            font-size: 10px;
            background-color: var(--bs-button-color-setting);
            color: var(--bs-white);
            border-radius: 100PX;
        }
    }
    .panel--notif{
        position: absolute;
        right: 50px;
        max-width: 250px;
        background-color: #fff;
        z-index: 9999;
        box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
        border-radius: 5px;
        h1{
            background-color: var(--bs-button-color-setting);
            border-radius: 5px 5px 0 0;
            color: #fff;
            padding:  5px;
        }
        .list--notif{
            li{
                padding: 10px;
                font-size: 12px;              
                &:nth-child(odd){
                    background-color: #f3efef;
                }
            }
        }
    }
}
.section--content{
    width: 83vw;
    margin-left: 17vw;
    @media screen and (max-width:1024px) {
        width: 100vw;
        margin-left: 0;
    }
}
