
.btn__setting{
    position: fixed;
    right: 10px;
    bottom: 10px;
    svg{
        height: 35px;
        width: 35px;
        circle{
            stroke:  var(--bs-color-light-mode);
        }                
        path{
            stroke:  var(--bs-color-light-mode);
        }   
    }
}
.setting__panel--show{
    position: fixed;
    display: none;
    height: 100vh;
    width: 0;
    right: 0;
    top: 0;
    background-color: var(--bs-bg-light-mode);
    transition: 1s;
    visibility: hidden;
    z-index: 99999;
    box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
    .content__setting{
        display: none;
    }
    .theme{
        button{
            font-size: 14px;
            display: flex;
            align-items: center;
            color: #fff;
            padding: 2px 10px;
            border-radius: 5px;
            &::before{
                content: '';
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 30px;
                width: 30px;
            }
            &.btn__dark{                
                background-color:  var( --bs-dark-800);
                &::before{
                    background-image: url('../../assets/moon.png');
                }
            }
            &.btn__light{
                background-color: #fff;
                color: #2A3447;
                border: 1px solid #bdbdbd;
                &::before{
                    background-image: url('../../assets/sun.png');
                }
            }
            
        }
    }

    .theme--colorSidebar{
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            li{
                button{
                    height: 25px;
                    width: 25px;
                    border-radius: 100px;
                    border: 1px solid #bdbdbd;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &.transparent{
                        background-image: url('../../assets/transparent.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 25px;
                        width: 25px;
                    }
                    &.black{
                        background-color: var(--bs-black);
                    }
                    &.purple{
                        background-color: var(--bs-purple);
                    }
                    &.gradient{
                        background: linear-gradient(to right, rgb(132,90,223) 0%, #00B9DA 100%);
                    }
                }
            }
        }
    }

    .theme--bg{
        ul{
            li{
                button{
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 80px;
                    &.no__image{
                        background-image: url('../../assets/transparent.png');
                       
                    }
                    &.beach1{
                        background-image: url('../../assets/bg/beach1.jpg');
                    }
                    &.beach2{
                        background-image: url('../../assets/bg/beach2.jpg');
                    }
                    &.building{
                        background-image: url('../../assets/bg/building.jpg');
                    }
                    &.office{
                        background-image: url('../../assets/bg/office.jpg');
                    }
                    &.sky{
                        background-image: url('../../assets/bg/sky.jpg');
                    }
                }
            }
        }
    }

    .theme--color{
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            li{
                button{
                    height: 25px;
                    width: 25px;
                    border-radius: 100px;
                    border: 1px solid #bdbdbd;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    &:after{
                        content: '';
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 15px;
                        width: 15px;
                        z-index: 2;
                    }
                    &:before{
                        content: '';
                        height: 100%;
                        width: 100%;
                        background-color: rgb(190 190 190 / 23%);
                        position: absolute;
                        border-radius: 100px;
                        z-index: 1;
                    }
                    &.theme--primary{
                        background-color: var(--bs-color-primary);
                    }
                    &.theme--blue{
                        background-color: var(--bs-color-blue);
                    }
                    &.theme--green{
                        background-color: var(--bs-color-green);
                    }
                    &.theme--orange{
                        background-color: var(--bs-color-orange);
                    }
                    &.theme--purple{
                        background-color: var(--bs-color-purple);
                    }
                    &.theme--aqua{
                        background-color: var(--bs-color-aqua);
                    }
                }
               
            }
        }
    }

}

body{
    &.setting__panel{   
        #setting{
            &:before {
                content: '';
                background-color: rgba(0,0,0,0.45);
                height: 100vh;
                width: 100vw;
                position: fixed;
                left: 0;
                top: 0;
                transition: 1s;
            }            
        }          
        .setting__panel--show{
            width: 250px;
            transition: 1s;
            display: block;
            visibility: visible;
           
            .content__setting{
                display: block;
            }
        }
    }
}