body{
    &.active__menu{
        .aside {
            display: block;
            position: fixed;
            top: 0;
            max-width: 70vw;
            z-index: 999999;
            transition: 1s;
            @media screen and (max-width:676px) {
                display: block;
            }
            
        }
    }
}