.backlog--header{
    button{
        background-color: var(--bs-text-color-setting);
        color: var(--bs-white);
        padding: 0 15px;
        font-size: 14px;
        border-radius: 5px;
    }
}
.backlogBox{
    background-color: var(--bs-white);
    padding: 15px;
    button{
        display: flex;
        gap: 5px;
        align-items: baseline;
        svg{
            width: 13px;
            height: 13px;
        }
    }
    .backlogBox--listDate{
        span{
            color: var(--bs-grey);
        }
    }
    .backlogBox--list{       
       padding-top: 20px;
       margin-bottom: 35px;
        h1{
            color: var(--bs-black);
        }
        .backlogBox--listItem {
            border: 1px solid #f5f5f5;
            padding:0 5PX;
            &:hover{
                background-color: #f5f5f5;
            }
        }
        .backlogBox--listTitle{       
            svg{
                height: 13px;
                width: 13px;
            }  
           .hight{
            svg{             
                fill: rgb(228, 106, 118);
               }
           }
           .medium{
            svg{
                fill: rgb(115, 82, 255)
               }
           }
           .low{
            svg{
                fill: rgb(0, 194, 146);
               }
           }
        }
        .backlogBox--listStatus{
            display: flex;
            gap: 5px;
            align-items: center;
            label{
                background-color: #f5f5f5;
                padding:0 5px;
                font-weight: 500;
                color: var(--bs-text-color-setting);
            }
            img{
                width: 20px;
                height: 20px;
                border-radius: 100px;
            }
        }
    }
}