.home__title{
    display: flex;
    justify-content: space-between;
    @media (max-width:676px) {
        flex-direction: column;
    }
    .home__title--left{
        @media (max-width:676px) {
            order: 2;
        }
        h1{
            display: flex;
            gap: 10px;
            align-items: center;
            svg{
                animation: jump-shaking 0.83s infinite;
                width: 25px;
                height: 25px;
            }
        }
        @keyframes jump-shaking {
            0% { transform: translateX(0) }
            25% { transform: translateY(-9px) }
            35% { transform: translateY(-9px) rotate(17deg) }
            55% { transform: translateY(-9px) rotate(-17deg) }
            65% { transform: translateY(-9px) rotate(17deg) }
            75% { transform: translateY(-9px) rotate(-17deg) }
            100% { transform: translateY(0) rotate(0) }
        }
    }
    .home__title--right{
        @media (max-width:676px) {
            margin-bottom: 20px;
            order: 1;
        }
    }
    .current-date{
        display: flex;
        align-items: center;
        gap: 5px;
        .day{
            display: flex;
            align-items: center;
            gap: 5px;
            h1{
                font-weight: 500;
                color: var(--bs-grey);
            }
        }
        .datetime{
            p{
                color: var(--bs-grey);
            }
        }
    }
}

.info__box{
    background-color: var(--bs-white);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(90, 114, 123, 0.11) 0px 7px 30px 0px;
    position: relative;
    color: var(--bs-color-default);
    &.info__box--custom{
        background-color: var(--bs-color-setting);
        color: var(--bs-text-custom-color-setting);
        position: relative;
        &::after{
            content: '';
            background-color: rgba(0,0,0,0.1);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 10px;
            clip-path: polygon(0 1%, 100% 0, 0% 100%);
        }
        .info__box--value{
            h1{
                color: var(--bs-text-custom-color-setting);
            }
        }      
    }
    .img--card{
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: top;
        position: absolute;
        right: 0;
        top: 0;
    }
    .info__box--title {
        .icon{
            width: 40px;
            height: 40px;
            background-color: #F3F4F8;
            border-radius: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        svg{  
            fill:var(--bs-text-color-setting);
            width: 25px;
            height: 25px;
            opacity: 0.7;
            filter: blur(1px);
        }
        .reportIcon{
            fill:rgb(35,183,229) ;
        }
    }
    .info__box--value {
        margin: 10px 0;
        h1{
            color: var(--bs-text-color-setting);
        }
        
        .up{
            color: #13c56b;
            background-color: rgba(19,197,107,.1);
            padding: 2px 10px;
        }
        .down{
            color: #ed5e5e;
            background-color: rgba(237,94,94,.1);
            padding: 2px 10px;
        }
        .value__box{
            p{
                color: #c6c6c6;
            }
        }
    }
}

.listProject{
    width: 100%;
    tbody{
        tr{
            td{
                padding: 5px 0;
            }
        }
    }
    .listProject--name{
        img{
            max-width: 20px;
            max-height: 20px;
            object-fit: cover;
            object-position: center;
        }
    }
    h1{
        color: rgb(119, 126, 137);;
    }
    .listProject--status {
        svg{
            height: 20px;
            width: 20px;
        }
    }
    .listProject--priority{
        span{
            padding: 2px 10px;
            font-size: 12px;
            border-radius: 100px;
            color: var(--bs-white);
            &.high{
                background-color: rgb(228, 106, 118);
            }
            &.medium{
                background-color: rgb(115, 82, 255);
            }
            &.low{
                background-color: rgb(0, 194, 146);
            }
        }
        
    }
   
}
.listProject--btn{
    a{
        background-color: var(--bs-button-color-setting);
        color: var(--bs-white);
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 15px;
        border-radius: 10px;
       
    }
}

.row3{
    .info__box--padding{
        padding: 0;
        .info__box--header{
            padding: 15px;
            background-color: var(--bs-color-setting);
            border-radius: 10px 10px 0 0;
            position: relative;
            &::after{
                content: '';
                background-color: rgba(0,0,0,0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 10px;
                clip-path: polygon(0 1%, 100% 0, 0% 100%);
            }
            img{
                max-width: 250px;
                margin: 0 auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .montly--earning{
        .apexcharts-yaxis {
            display: none;
        }
    }
}