#login{
    height: 100vh;
    .loginLeft{
        background-color: #ECF3FC;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width:676px) {
            display: none;
        }
        .img--login{
            height: 350px;
        }       
    }
    .loginRight{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .brand{
            position: absolute;
            left: 25px;
            top: 20px;
            display: flex;
            gap: 5px;
            align-items: center;
            img{
                height: 35px;
                width: 35px;
            }
        }
        .login--panel{
            
            .form{                
                display: flex;
                margin-bottom: 25px;
                flex-direction: column;
                input{
                    border: 1px solid #bdbdbd;
                    padding: 5px;
                    width: 300px;
                    @media (max-width:676px) {
                        width: 100%;
                    }
                }                
            }
            .btn--sginIn{
                width: 100%;
                padding: 10px 5px ;
                background-color: var(--bs-color-primary);
                display: block;
                text-align: center;
                color: var(--bs-white);

            }
            .btn--forgot{
                margin-bottom: 10px;
                color: #bdbdbd;
                a{
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
        }
    }
}