.box--calender{
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
    background-color: var(--bs-white);
    thead{
        tr th {
            background-color: #e9e7e7;
        }
    }
}
.fc {
    .fc-button-primary{
        background-color: var(--bs-button-color-setting);
        border-color: var(--bs-button-color-setting);
    }
}