.timeline--panel{
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 20px 0 rgba(0,0,0,.12);
    background-color: var(--bs-white);
    color: var(--bs-black);
    &.timeline--panelDone{
        filter: blur(1.5px);
    }
    .timeline--panelTitle{
        h1{
            display: flex;
            flex-direction: column;
            &::before{
                content: '';
                margin-bottom: 10px;
                height: 15px;
                width: 100px;
                border-radius: 100px;
                background-color: var(--bs-color-setting);
                display: block;
            }
        }
        p{
            color: #bdbdbd;
        }
    }
    .timeline--panelList {
        h1{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
        span{
            color: #bdbdbd;
        }
        ul{
            li{
                position: relative;
                margin-bottom: 20px;
                padding-left: 20px;
                &:not(:last-child){
                    &::after{
                        content: '';
                        top: 22px;
                        height: 100%;
                        background-color: var(--bs-color-setting);
                        width: 1px;
                        display: block;
                        position: absolute;
                        left: 0;
                        z-index: 0;
                    }                   
                }
                &::before{
                    content: '';
                    top: 0;
                    height: 25px;
                    background-color: #e4e4e4;
                    width: 25px;
                    display: block;
                    position: absolute;
                    left: -12px;
                    border-radius: 100px;
                    z-index: 1;
                    padding: 5px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 15px 15px;
                }
                &.done{
                    &::before{
                        background-image: url('../../assets/check-solid.svg');
                    }                   
                }
                &.waiting{
                    &::before{
                        background-image: url('../../assets/hourglass-start-solid.svg');
                    }                   
                }
                &.progress{
                    h1{
                        color: var(--bs-color-setting);
                        font-weight: 600;
                    }
                    &::before{
                        background-image: url('../../assets/play-solid.svg');
                    }                   
                }
            }
        }
    }
}